In [6]:
import mysql.connector as connection

In [11]:
try:
    mydb = connection.connect(host="localhost",user = "root",passwd = '123456',use_pure = True)
    query = "SHOW DATABASES"

    cursor = mydb.cursor()
    cursor.execute(query)
    

except Exception as e:
    mydb.close()
    print(str(e))

In [16]:
try:
    mydb = connection.connect(host="localhost",user = "root",passwd = '123456',use_pure = True)
    query = "create database employeedata";
    cursor = mydb.cursor()
    cursor.execute(query)
    print("database created!")
except Exception as e:
    mydb.close()
    print(str(e))

database created!

Q)2

In [34]:
query = "create table employeedata.salary_dat(emp_id integer, mon integer, salary integer)"
print(query)

create table employeedata.salary_dat(emp_id integer, mon integer, salary integer)

In [35]:
cursor =mydb.cursor()
cursor.execute(query)
print('Table created!')

Table created!

In [37]:
cursor.execute("insert into employeedata.salary_dat values(1,3,50000)")
cursor.execute("insert into employeedata.salary_dat values(2,4,45000)")
cursor.execute("insert into employeedata.salary_dat values(3,3,36000)")
cursor.execute("insert into employeedata.salary_dat values(1,6,49000)")
cursor.execute("insert into employeedata.salary_dat values(4,4,51000)")
cursor.execute("insert into employeedata.salary_dat values(2,5,64000)")
mydb.commit()

In [41]:
query = "create table employeedata.emp_dat(emp_id integer,emp_name varchar(10))"
print(query)

create table employeedata.emp_dat(emp_id integer,emp_name varchar(10))

In [42]:
cursor = mydb.cursor()
cursor.execute(query)
print('Table Created!')

Table Created!

In [45]:
cursor.execute("Insert into employeedata.emp_dat values(1,'ramesh')")
cursor.execute("Insert into employeedata.emp_dat values(2,'suresh')")
cursor.execute("insert into employeedata.emp_dat values(3,'nikhil')")
cursor.execute("insert into employeedata.emp_dat values(4,'rajeev')")
mydb.commit()

In [56]:
mydb = connection.connect(host="localhost", database = 'employeedata',user="root", passwd="123456",use_pure=True)
cursor1 = mydb.cursor()
cursor1.execute("select max(salary) highest  ,b.emp_name from salary_dat highest right join emp_dat b on highest.emp_id = b.emp_id group by 2")

In [57]:
for i in cursor1.fetchall():
    print(i)

(50000, 'ramesh')
(64000, 'suresh')
(36000, 'nikhil')
(51000, 'rajeev')

Q)4

In [58]:
query = "create table employeedata.cou_sta(country varchar(10),state varchar(10))"
print(query)

create table employeedata.cou_sta(country varchar(10),state varchar(10))

In [59]:
cursor =mydb.cursor()
cursor.execute(query)
print('Table created!')

Table created!

In [61]:
cursor.execute("insert into employeedata.cou_sta values('x','A')")
cursor.execute("insert into employeedata.cou_sta values('X','B')")
cursor.execute("insert into employeedata.cou_sta values('X','C')")
cursor.execute("insert into employeedata.cou_sta values('Y','D')")
cursor.execute("insert into employeedata.cou_sta values('Y','E')")
cursor.execute("insert into employeedata.cou_sta values('Y','F')")
mydb.commit()

In [64]:
query = "create table employeedata.sta_popu(state varchar(10),population int)"
print(query)

create table employeedata.sta_popu(state varchar(10),population int)

In [65]:
cursor =mydb.cursor()
cursor.execute(query)
print('Table created!')

Table created!

In [66]:
cursor.execute("insert into employeedata.sta_popu values('B',40)")
cursor.execute("insert into employeedata.sta_popu values('C',30)")
cursor.execute("insert into employeedata.sta_popu values('D',20)")
cursor.execute("insert into employeedata.sta_popu values('E',20)")
cursor.execute("insert into employeedata.sta_popu values('F',20)")
cursor.execute("insert into employeedata.sta_popu values('G',10)")
mydb.commit()

In [68]:
mydb = connection.connect(host="localhost", database = 'employeedata',user="root", passwd="123456",use_pure=True)
cursor2 = mydb.cursor()
cursor2.execute("select a.country, b.state,population from cou_sta a left join  sta_popu b on a.state = b.state")

In [69]:
for i in cursor2.fetchall():
    print(i)

('x', None, None)
('X', 'B', 40)
('X', 'C', 30)
('Y', 'D', 20)
('x', None, None)
('X', 'B', 40)
('X', 'C', 30)
('Y', 'D', 20)
('Y', 'E', 20)
('Y', 'F', 20)

Q)5

In [ ]:
i) web page redesign
ii) money making - try to built on the trust, since it goes long way to understand
iii) multi -tasking
iv) live interaction
v) promotions

Q)6

In [ ]:
i) online median
ii) instiuttion meeting
iii) zoom interaction
iv) community session
v) content orientated
vi) marketing
vii) brand awareness
viii) blogging
ix) competitors
x)price tagging